body{
    font-family: "Roboto Slab", serif;
}


.bg-c{
    background-color: rgb(0, 0, 136);
}

.bg-hero{
    background-color: rgb(255, 230, 230);
}

.bg-coming{
    background-color: rgb(211, 222, 255);
}